<div class="post">
    <div class="post-heading">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
        <div class="post-name">
            <% if (user && (user.member == '1' || user.admin == '1')) {%>
                <div class="post-fullname"> <%= post.fullname %></div>
                <div class="post-username">@<%= post.username %> • <%= post.formattedDate %></div>
            <% }else { %>
                <div class="post-fullname"> <%= post.fullname.replace(/[^ ]/gi, '*') %></div>
                <div class="post-username">@<%= post.username.replace(/[^ ]/gi, '*') %> • <%= post.formattedDate %></div>
            <% } %>
        </div>
        <% if (user && user.admin == '1'){ %>
            <a href="/delete-post/<%= post.id %>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FE0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="delete-icon"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg> </a> 
        <% } %>
    </div>
    <div class="post-main">
        <h2 class="post-title"><%= post.title %></h2>
        <p class="post-content"><%= post.content %></p>
    </div>
</div>